<html>
<!-- BEGIN mainBlock -->
<body>

<font size=4><strong>{RPT} Access Report for {USERNAME}</strong></font><br>
<hr>
<form method=post action={ACCESS_RPT_MNGR}>
<input type=hidden name=indicator value={INDICATOR}>

Current date {CURRENT_DATE}

<br>
<!-- BEGIN adminBlock -->
<a href={ADMIN_ACCESS_RPT_MNGR}>Overall Summary Report</a>
<table cellpadding=2 border=0 width=100%>
<tr>
<td>
<select name=uid>
<option value="">Select a user</option>
<!-- BEGIN userBlock -->
<option value={USER_ID} {UIDSELECTED}>{USER_NAME}</option>
<!-- END userBlock -->
</select>
</td>
<td>
<input type=submit value="View">
</td>
</tr>



<tr>
<td>
<input type=submit name="cmd" value="Force Login">
</td>
<td>
<font size=2>at</font>
<select name=lihr>
<!-- BEGIN lihrBlock -->
<option {LIHRSEL} value={LIHR}>{LIHR_LBL}</option>
<!-- END lihrBlock -->
</select><strong>:</strong>
<select name=limin>
<!-- BEGIN liminBlock -->
<option {LIMINSEL} value={LIMIN}>{LIMIN_LBL}</option>
<!-- END liminBlock -->
</select>
<font size=2>on</font>
<select name=limon>
<!-- BEGIN limonBlock -->
<option {LIMONSEL} value={LIMON}>{LIMON_LBL}</option>
<!-- END limonBlock -->
</select>

<select name=liday>
<!-- BEGIN lidayBlock -->
<option {LIDAYSEL} value={LIDAY}>{LIDAY}</option>
<!-- END lidayBlock -->
</select>


<select name=liyr>
<!-- BEGIN liyrBlock -->
<option {LIYRSEL} value={LIYR}>{LIYR}</option>
<!-- END liyrBlock -->
</select>

</td>
</tr>

<tr>
<td>
<input type=submit name="cmd" value="Force Logout">
</td>
<td>
<font size=2>at</font>
<select name=lohr>
<!-- BEGIN hrBlock -->
<option {HRSEL} value={HR}>{HR_LBL}</option>
<!-- END hrBlock -->
</select><strong>:</strong><select name=lomin>
<!-- BEGIN minBlock -->
<option {MINSEL} value={MIN}>{MIN_LBL}</option>
<!-- END minBlock -->
</select>
<font size=2>on</font>
<select name=lomon>
<!-- BEGIN monBlock -->
<option {MONSEL} value={MON}>{MON_LBL}</option>
<!-- END monBlock -->
</select>

<select name=loday>
<!-- BEGIN dayBlock -->
<option {DAYSEL} value={DAY}>{DAY}</option>
<!-- END dayBlock -->
</select>


<select name=loyr>
<!-- BEGIN yrBlock -->
<option {YRSEL} value={YR}>{YR}</option>
<!-- END yrBlock -->
</select>

</td>
</tr>







</table>
<!-- END adminBlock -->
<br>
<br>
<p>
<center>

<input type=submit name="cmd" value="<<">

<input disabled=true type=text value="{START_DATE} to {END_DATE}" size=29 name="range" style="font-family: Verdana; font-weight: bold; font-size: 1em; text-align: center">

<input type=submit name="cmd" value=">>">

<select name="rpt">
  <option {CHOSEN_WEEKLY_REPORT} value="2">Weekly</option>
  <option {CHOSEN_MONTHLY_REPORT} value="1">Monthly</option>
  <option {CHOSEN_DAILY_REPORT} value="3">Daily</option>
</select>
<input type=submit name="cmd" value="View">

</center>
<br>
<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr bgcolor="#abdbcfb">
<td> &nbsp;</td>
<td align=center><strong><font size=2>  Date </font></strong></td>
<td><strong><font size=2>  Day </font></strong></td>
<td> <strong><font size=2> Start </font></strong></td>
<td><strong><font size=2>  End </font></strong></td>
<td><strong><font size=2>  Total Office Hours</font></strong></td>
<td><strong><font size=2> Extra Hours </font></strong></td>
</tr>

<!-- BEGIN reportBlock -->

<tr bgcolor="#{ROW_COLOR}">
<td><font size=2> {CURRENT_DAY_MARKER} </font></td>
<td><font size=2><a href={LOG_BOOK}?startTS={DAY_START}&useID={USEID} target=_blank width=50 height=50> {DATE} </a></font></td>
<td><font size=2> {WEEK_DAY}</font></td>
<td><font size=2> {START_TS} </font></td>
<td><font size=2> {END_TS}</font> </td>
<td><font size=2 color="{TOTAL_OFFICE_HRS_COLOR}">{TOTAL_OFFICE_HOURS}</font></td>
<td><font size=2> {TOTAL_EXTRA_HOURS}</font> </td>
</tr>


<!-- END reportBlock -->

<tr bgcolor="#ffffff">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td> <strong><font size=2>{SUM_OFFICE_HOURS} </font></strong></td>
<td> <strong><font size=2>{SUM_EXTRA_HOURS} </font></strong></td>
</tr>

<tr>
<td colspan=5>
&nbsp;
</td>
</tr>

<tr bgcolor="#ffffff">
<td colspan=5><font size=2>Average Office Hours / Day</font></td>
<td colspan=5><font size=2>{AVRG_OFFICE_HRS_PER_DAY}</font></td>
</tr>


<tr bgcolor="#ffffff">
<td colspan=5><font size=2>Average Extra Hours / Day</font></td>
<td colspan=5><font size=2>{AVRG_EXTRA_HRS_PER_DAY}</font></td>
</tr>
<tr bgcolor="#ffffff">
<td colspan=5><font size=2>Total Man Days</font></td>
<td colspan=5><font size=2>{AVRG_MAN_DAY}</font></td>
</tr>


</table>

</form>
<!-- END mainBlock -->

</body>
</html>
