<html>
<!-- BEGIN mainBlock -->
<body>

<font size=4><strong>{RPT} Access Report for EVOKNOW</strong></font><br>
<hr>
<form name=adminForm method=post action={ADMIN_ACCESS_RPT_MNGR}>
<input type=hidden name=indicator value={INDICATOR}>
<input type=hidden name=sort value="">

Current date {CURRENT_DATE}
<BR>
<a href={ACCESS_RPT_MNGR}>Individual Access Report</a>
<p>
<br>
<center>

<input type=submit name="cmd" value="<<" onclick=document.adminForm.utog.value="";document.adminForm.otog.value="";document.adminForm.etog.value="";>

<input disabled=true type=text value="{START_DATE} to {END_DATE}" size=25>

<input type=submit name="cmd" value=">>" onclick=document.adminForm.utog.value="";document.adminForm.otog.value="";document.adminForm.etog.value="";>

<select name="rpt" onchange=Javascript:document.adminForm.indicator.value="";document.adminForm.utog.value="";document.adminForm.otog.value="";document.adminForm.etog.value="";>
  <option {CHOSEN_WEEKLY_REPORT} value="2">Weekly</option>
  <option {CHOSEN_MONTHLY_REPORT} value="1">Monthly</option>
  <option {CHOSEN_DAILY_REPORT} value="3">Daily</option>
</select>
<input type=submit name="cmd" value="View">

</center>
<br>
<table border=0 cellpadding=3 cellspacing=0 width=75% align=center>
<tr bgcolor="#abdbcfb">

<input type=hidden name=utog value="{UTOG}">
<input type=hidden name=otog value="{OTOG}">
<input type=hidden name=etog value="{ETOG}">
<td width=34%><strong><font size=2><a href=Javascript:document.adminForm.sort.value="";document.adminForm.submit();> User Name </font></strong></td>
<td width=33%><strong><font size=2><a href=Javascript:document.adminForm.sort.value="Office";document.adminForm.submit();>  Office Hour </a></font></strong></td>
<td width=33%> <strong><font size=2><a href=Javascript:document.adminForm.sort.value="Extra";document.adminForm.submit();> Extra Hour </a></font></strong></td>
</tr>

<!-- BEGIN reportBlock -->

<tr bgcolor="#{ROW_COLOR}">


<td width=34%><font size=2> <a href="{ACCESS_RPT_MNGR}?uid={UID}">{UNAME} </font></td>
<td width=33%><font size=2> {OFF_HR}</font></td>
<td width=33%><font size=2> {EXT_HR} </font></td>
</tr>


<!-- END reportBlock -->

<tr bgcolor="#ffffff">

<td>&nbsp;</td>
<td> <strong><font size=2>{SUM_OFF_HR}</font> </strong></td>
<td> <strong><font size=2>{SUM_EXT_HR} </font></strong></td>
</tr>

<tr>
<td colspan=5>
&nbsp;
</td>
</tr>
</table>
<table cellpadding=3 cellspacing=3>
<tr bgcolor="#ffffff">
<td><font size=2>Average Office Hours / Day</font></td>
<td><font size=2>{AVRG_OFFICE_HRS_PER_DAY}</font></td>
</tr>


<tr bgcolor="#ffffff">
<td><font size=2>Average Extra Hours / Day</font></td>
<td><font size=2>{AVRG_EXTRA_HRS_PER_DAY}</font></td>
</tr>

<tr bgcolor="#ffffff">
<td><font size=2>Average Man Days / Employee</font></td>
<td><font size=2>{AVRG_MAN_DAYS_PER_EMP}</font></td>
</tr>

<tr bgcolor="#ffffff">
<td><font size=2>Total Man Days</font></td>
<td><font size=2>{TOTAL_MAN_DAYS}</font></td>
</tr>


</table>

</form>
<!-- END mainBlock -->

</body>
</html>
