<html>
<!-- BEGIN mainBlock -->
<head> 
<title>Intranet User Home</title>
{JS_TIP_SCRIPT}
</head>

<body>

<b><font face="Arial" size="6" align="left">Welcome to Your Intranet</font><font size="4"></font></b>
<hr>
<table border=0 cellpadding=5 cellspacing=0 width=100%>
<tr>
<td>
<font face="Verdana" size="2">{NAME} you have logged in on {CURRENT_DATE} at {CURRENT_TIME}
</font>
</td>
</tr>
</table>
<table bgcolor="#ffffff" border=0 cellpadding=0 cellspacing=0 width=100%>
<tr>
<td align=left>
<font size="2" face="Verdana">{LD_NAV} </font>
</td>
</tr>

<!-- BEGIN msgBlock -->

<form method=post action="{HOME_MNGR}">
<font face="Verdana">
<input type=hidden name=mid value={MSG_ID}>
</font>
<tr>
<td>
<table border=0 align=left width=100% bgcolor="{TABLE_BGCOLOR}" cellpadding=2 cellspacing=3>
<tr>
<td>
<font face="Verdana">
<font size=2 color="blue"><strong>{MSG_DATE}</strong></font><font size="2">
</font></font>
</td>
</tr>

<tr>
<td>
<font face="Verdana">
<STRONG><font size=2>{MSG_TITLE}</font></STRONG><font size="2"><BR>{MSG_AUTHOR}</font></font>
</td>
</tr>
<tr>
<td>
<font size=2 face="Verdana">{MSG_CONTENTS} </font>
</td>
</tr>
<tr>
<td align=left>
<font face="Verdana">
<input type=submit name=read value="OK"><font size="2"> </font></font>
</td>
</tr>

</table>
</td>
</tr>
</form>
<!--  END msgBlock -->

</table>

<p>
<!-- END mainBlock -->
</body>
</html>
