<html>
<!-- BEGIN mainBlock -->
<head>

</head>

<body>
<font size=+1 align=left>Intranet Message Manager</font>
<hr>
<table align=center border=0 cellpadding=5 cellspacing=0>
<tr>
<td>
&nbsp;
</td>
<td>
<a href={MSG_MNGR}?cmd=add>Add a Message</a>
</td>

</tr>
<tr>
<form name="msgSelector" method=POST action={MSG_MNGR}>
<input type=hidden name=cmd>
<td>
<select name=mid>
<option value="">Select a message</option>
<!-- BEGIN msgBlock -->
<option value={MID}>{MSG_TITLE}</option>
<!-- END msgBlock -->
</select>
</td>
<td>
<input type=submit value="Delete"  onclick=document.msgSelector.cmd.value="delete">
</td>

</tr>
<tr>
<td>
&nbsp;
</td>
<td>
<input type=submit value="Modify" onclick=document.msgSelector.cmd.value="modify">
</td>

</tr>
</form>

</table>

<p>
<!-- END mainBlock -->
</body>
</html>
