<html>
<head>
<title>Preference</title>

</head>

<body>
<!-- BEGIN mainBlock -->
<form method=POST>
<table border=0 cellpadding=3 cellspacing=0 width=50%>
<tr>
<td>
<font size=2>Customize Application Theme</font>
</td>
<td>
<select name=skin>
<!-- BEGIN themeBlock -->
<option value={THEME_ID} {CH_VAL}>{THEME_NAME}</option>
<!-- END themeBlock -->
</select>

</td>
</tr>



<tr>
<td>
<font size=2>Automatically Show Tip of the Day </font>
</td>
<td>
<input type=radio {TIP_STATUS1} name="autotip" value="1"> <font size=2>Yes</font>
<input type=radio {TIP_STATUS2} name="autotip" value="0"> <font size=2>No</font>
</td>
</tr>


<tr>
<td colspan=2 align=center>
<p>&nbsp;</p>
<input type=reset name=pref value=Reset>
&nbsp; &nbsp;
<input type=submit name=pref value=Update>
</td>
</tr>
<tr><td colspan=2 align=center>&nbsp</td></tr>

<tr><td colspan=2 align=center><font size=2>{UPDATE_MSG}</font></td></tr>

</table>

</form>
<!-- END mainBlock -->
</body>
</html>
