

     <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">

      <tr><td width="100%"><font size=2><a href="/logout/logout.php">Logout</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/home/preference.php">Preferences</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/home/access_reporter.php">Access Report </a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/user_mngr/apps/user_mngr_passwd.php">Change Password</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/user_mngr/apps/user_mngr.php">User Manager</a></font></td> </tr> 
      <tr><td width="100%"><font size=2><a href="/home/ln_msg_mngr.php?cmd=add">MOTD Manager</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/ld_tool/apps/ld_mngr.php">Doc Publisher</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/contact_mngr/apps/contact_mngr.php">Contact Manager</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/calendar_mngr/apps/calendar_mngr.php">Calendar</a></font></td> </tr>
      <tr><td width="100%"><font size=2><a href="/irm/apps/irm_search_mngr.php">IRM</a></font></td> </tr>
      

    </table>
