<html> 
<!-- BEGIN mainBlock -->
<head>


</head>

<body>
 <p><font face="Verdana" size="2">New Request from the <b>Ask Form</b>.</font></p>
 <p><font face="Verdana" size="2">User provided the following information</font></p>
 <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="49%" id="AutoNumber1">
   <tr>
     <td width="21%" bgcolor="#C0C0C0"><b><font face="Verdana" size="2">First 
     name </font></b></td>
     <td width="79%" bgcolor="#C0C0C0"><font face="Verdana" size="2">{FNAME}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#DDDDDD"><b><font face="Verdana" size="2">Last 
     name</font></b></td>
     <td width="79%" bgcolor="#DDDDDD"><font face="Verdana" size="2">{LNAME}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#C0C0C0"><b><font face="Verdana" size="2">Company<font color="#ff0000">
     </font></font></b></td>
     <td width="79%" bgcolor="#C0C0C0"><font face="Verdana" size="2">{COMPANY}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#DDDDDD"><b><font face="Verdana" size="2">Email<font color="#ff0000">
     </font></font></b></td>
     <td width="79%" bgcolor="#DDDDDD"><font face="Verdana" size="2">{EMAIL}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#C0C0C0"><b><font face="Verdana" size="2">URL</font></b></td>
     <td width="79%" bgcolor="#C0C0C0"><font face="Verdana" size="2">{URL}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#DDDDDD"><b><font face="Verdana" size="2">About </font></b></td>
     <td width="79%" bgcolor="#DDDDDD"><font face="Verdana" size="2">{ABOUT}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#C0C0C0"><b><font face="Verdana" size="2">Subject<font color="#ff0000">
     </font></font></b></td>
     <td width="79%" bgcolor="#C0C0C0"><font face="Verdana" size="2">{SUBJECT}</font></td>
   </tr>
   <tr>
     <td width="21%" bgcolor="#DDDDDD"><b><font face="Verdana" size="2">Details<font color="#ff0000">
     </font></font></b></td>
     <td width="79%" bgcolor="#DDDDDD"><font face="Verdana" size="2">{DETAILS}</font></td>
   </tr>
 </table>
 <p>&nbsp;</p>
</body>
<!-- END mainBlock -->
</html>