<!-- BEGIN mainBlock -->
<html> 
<head>
<base href="http://www.evoknow.com">
<Title>EVOKNOW Response</title>
</head>

<body>
 <font face="Verdana" size="2">Dear {FNAME},</font><p>
 <font face="Verdana" size="2">Thank you very much for your request.&nbsp;We 
 hope to respond to you very soon.</font></p>
 <p>

 <p><font face="Verdana" size="2">Thanks again.</font></p>
 <p><font face="Verdana" size="2">Kind Regards</font></p>
 <p><font face="Verdana" size="2">The EVOKNOW Team,</font></p>
 <table border="1" cellpadding="3" cellspacing="0" style="border-collapse: collapse" bordercolor="#C0C0C0" width="600" id="AutoNumber2">
   <tr>
     <td width="64">
     <a title="Visit EVOKNOW Web Site" target="_blank" href="http://www.evoknow.com/">
 <img src="http://www.evoknow.com/images/logo.gif" border="1" width="99" height="82"></a></td>
     <td width="651" align="left" valign="top">
     <p align="center"><font face="Verdana" size="2">
 <a href="http://www.evoknow.com/">EVOKNOW, Inc.</a></font></p>
     <p align="center"><font size="1" face="Verdana">The low-cost, high caliber 
     IT solutions company.</font></p>
     <p align="center"><font face="Verdana" size="1">Ph. (916) 923 5991&nbsp;&nbsp; 
     2904 Weald Way, 221, Sacramento, CA 95833</font></td>
   </tr>
 </table>
 <p style="word-spacing: -1; margin-bottom: 0">&nbsp;<p style="word-spacing: -1; margin-bottom: 0"><br>
 &nbsp;<p>&nbsp;</p>
</body>
</html>
<!-- END mainBlock -->
