<html>
<head><title>Tip of the Day #1</title></head>
<body

onLoad="setTimeout('window.close()',10000)"

leftmargin=0 topmargin=0 bgcolor="#ffffff" >
<table bgcolor="#ffffff" border=0 cellpadding=10 cellspacing=0 width=100%>

<tr>
<td>
<blockquote>
<font size=2 face="Arial">
Did you know that use of chat software is not allowed during office hours?
</font>
<br>
<br>
<strong>Contact system administrator for details.</strong>
</blockquote>
</td>
</tr>

<tr>
<td valign=top align=center>
<a href="javascript:window.close();">Close Window</a>
</td>
</tr>


</table>
</body>
</html>
