<html>

<!-- BEGIN mainBlock -->
<head><title>Log Details</title></head>
<body>



Log Detail for {USERNAME} on {DATE} 
<hr>
<br>

<br>
<table border=0 cellpadding=3 cellspacing=0 width=100%>
<tr bgcolor="#abdbcfb">
<td align=center><strong><font size=2>  Login </font></strong></td>
<td><strong><font size=2>  Logout </font></strong></td>
<td> <strong><font size=2> Office Hours </font></strong></td>
<td><strong><font size=2>  Extra Hours </font></strong></td>
</tr>

<!-- BEGIN logBlock -->

<tr bgcolor="#abdbcfb">
<td align=center><font size=2>  {LOGIN} </font></strong></td>
<td><font size=2>  {LOGOUT} </font></strong></td>
<td><font size=2> {OFF_HR} </font></strong></td>
<td><font size=2>  {EXT_HR} </font></strong></td>
</tr>

<!-- END logBlock -->

</table>


<!-- END mainBlock -->

</body>
</html>
