<html>
<!-- BEGIN mainBlock -->
<title>Press Release Response</title>

<body>
<table width="100%" cellpadding=3 cellspacing=0 style="border-collapse: collapse" bordercolor="#111111" height="152" >
<tr>
<td bgcolor="#F3FFCE" height="16">
<b><font face="Verdana" size="2">{DOC_HEADING} </font></b>
</td>
</tr>
<tr>
<td height="16">
<font face="Verdana" size="2">Publish date: {PUBLISH_DATE} </font>
</td>
</tr>
<tr>
<td height="16">
<FONT SIZE=2 face="Verdana">Response: {RESPONSE_HEADING} </FONT>
</td>
</tr>
<tr>
<td height="16">
<font face="Verdana" size="2">By: {RESPONDER} </font>
</td>
</tr>
<tr>
<td height="30" valign="top">
<font face="Verdana" size="2">&nbsp;
{RESPONSE_BODY} </font>
</td>
</tr>

<tr>
<td height="16">
<b><font face="Verdana" size="1">
<a href={LD_RESPONSE_MNGR}?nid={DOC_ID}>Post Response</a>
 &nbsp;&nbsp;&nbsp;<a href=Javascript:history.go(-1)>Go Back</a> </font></b> 
</td>
</tr>

</table>
</body>

<!-- END mainBlock -->
</html>