<html>
<head>
<!-- BEGIN mainBlock -->
<title>Tell A Friend Status</title>
</head>

<body bgcolor="#FFFFFF">


<center>
    <table border="0"
           cellpadding="0"
           cellspacing="0"
           style="border-collapse: collapse"
           bordercolor="#111111"
           width="613"
           height="79">

      <tr>
        <td width="24" height="24">&nbsp;</td>
        <td width="597" background="images/upmid.gif" height="24"> &nbsp;</td>
        <td width="43" height="24"> &nbsp;</td>
      </tr>

      <tr>
        <td width="24" background="images/left.gif" height="29"> &nbsp;</td>
        <td width="597" height="10"> &nbsp;
        <div align="center">
          <center>

          <table border="0"
                 cellpadding="10"
                 cellspacing="0"
                 style="border-collapse: collapse"
                 bordercolor="#cccccc"
                 bgcolor="#ffffff"
                 width="604"
                 id="AutoNumber3">

            <tr>
              <td width="584">


		       <center> <font size="2" face="Verdana" color="#000066">{STATUS_MESSAGE}
               </font> </center>
                       <p>
                       <center>
                        <a href="/">Home</a> &nbsp;| &nbsp;
                        <a href="{RETURN_URL}">Return to Main Menu</a> &nbsp;| &nbsp;
                        <a href="" onClick="window.close();">Close Window</a>
                       </center>

              </td>
            </tr>


          </table>
          </center>
        </div>
        </td>
        <td width="43" background="images/right.gif" height="29"> &nbsp;</td>
      </tr>

      <tr>
        <td width="24" height="26">
        &nbsp;</td>
        <td width="597" background="images/dwnmid.gif" height="26"> &nbsp;</td>
        <td width="43" height="26">&nbsp;</td>
      </tr>
      </table>


</center>
<!-- END mainBlock -->

</body>

</html>
