<html> 
<!-- BEGIN mainBlock -->
<head>
<TITLE>Resource Description</TITLE>
</head>

<body>
<table>
   <tr>
      <td bgcolor="#cfcfcf"><b><font face="Verdana" size="2">Resource Title
      </font></b>
      </td>
      <td bgcolor="#eeeeee" width=100><font face="Verdana" size="2">&nbsp;{TITLE}
      </font>
      </td>
   </tr>
   <tr>
      <td bgcolor="#cfcfcf"><b><font face="Verdana" size="2">Resource Description
      </font></b>
      </td>
      <td bgcolor="#eeeeee" width="350"><font face="Verdana" size="2">&nbsp;{DES}
      </font>
      </td>
   </tr>

   <tr>
      <td colspan=2 align=center>
         <font face="Verdana" size="2">
         <br>
         <br> 
         </font> 
         <form>
            <font face="Verdana" size="2">
            <input type=image alt="Close" width="105" height="33" src="images/close.gif" onclick="window.close()">
            </font>
         </form>
      </td>
   </tr>
</table>


<!-- END mainBlock -->
</body>
</html>